body {
  font-family: sans-serif;
  background-color: #fff000;
}

header{
  background-color: #F15B31;
  color:#FFFFFF;
  padding: 10px 5px;
}
h1
{
font-family: "Raleway";
background-color: #F15B31;
color:#FFFFFF;
padding: 30px 20px;
text-align: center;
letter-spacing:1px;
font-weight:400;
font-size:45px;
text-transform:uppercase;
text-decoration: none;
margin:0;
}
footer{
  font-family:Raleway;
  text-align: center;
}

h3{
  text-align: center;
}
ul li{
  text-align: left;
  font-family: sans-serif;
  font-size: 25px;
}
#spacer {
  width: 0px;
  height: 10px;
  background: red;
  display: block;
  float:left;
}

#container {
  width: 1000px;
  height: 10px;

  margin-left: auto;
  margin-right: auto;

  border: none;
  border-right: 1px solid red;
  border-bottom: 1px solid black;

}

#letters {
  display: inline-block;
  float:left;
  line-height: 0;
}

#score {
  font-size: 40px;
  text-align: center;
}

.letter {
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: white;
  background-color: black;
}
